@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Saira:ital,wght@0,100..900;1,100..900&family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  background-color: rgb(250, 250, 250);
  scroll-behavior: smooth;
  font-family: "Roboto Flex", sans-serif;
}

.header {
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1000;
  transition: all 0.4s ease !important;
  box-shadow: 0 10px 10px rgba(92, 92, 92, 0.2);
}

.scroll-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #E74076;
}

.dropdown-toggle::after {
  display: none;
}

a {
  text-decoration: none;
  color: #000;
}

.btn-home {
  color: #2145CF;
  background-color: #fff;
  border: 1px solid #CACACA;
  border-radius: 25px;
  width: 150px;
  height: 45px;
  font-weight: 200;
  box-shadow: 0 8px 16px 0 rgba(33, 68, 207, 0.0352941176), 0 6px 20px 0 rgba(33, 68, 207, 0.0588235294);
  transition: all 0.3s ease-in-out;
}
.btn-home .btn-text {
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
}
.btn-home .btn-text .learn {
  translate: 25px 0;
  transition: all 0.4s ease-in-out;
}
.btn-home .btn-text span i {
  font-size: 24px;
  float: left;
  opacity: 0;
  visibility: hidden;
}
.btn-home:hover .fa {
  opacity: 1;
  visibility: visible;
}
.btn-home:hover .learn {
  translate: 10px 0;
}

.test-primary h1 {
  font-weight: 300;
  font-style: italic;
  font-size: 37px;
  letter-spacing: 1px;
}
.test-primary h1 span {
  color: #2145CF;
  font-style: normal;
}

.top-header {
  background-color: #2145CF;
  transition: all 0.4s ease-in-out;
  padding: 5px 0;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.12px;
}
.top-header p {
  color: #fff;
  margin: 0;
}

.navbar {
  background-color: #fff;
  transition: all 0.4s ease-in-out;
}
.navbar .navbar-nav .nav-item {
  transition: all 0.4s ease;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #000;
  opacity: 1;
  background: none;
  margin: 0 7px;
}
.navbar .navbar-nav .nav-item .navbar-brand {
  margin: 0 7px;
}
.navbar .navbar-nav .nav-item .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2145CF;
  opacity: 0;
  visibility: hidden;
  translate: 0 0;
  transition: all ease 1s;
}
.navbar .navbar-nav .nav-item:hover .nav-hov {
  color: #2145CF;
}
.navbar .navbar-nav .nav-item:hover .dot {
  opacity: 1;
  visibility: visible;
  translate: 0 4px;
}
.navbar .navbar-nav .nav-item .dropdown-menu {
  width: 420px;
  border-radius: 0;
}
.navbar .navbar-nav .nav-item .dropdown-menu .nav-pills .nav-link {
  color: #000;
  opacity: 1;
  padding: 4px 0px 4px 12px;
  font-weight: 500;
  transition: all ease 0.4s;
}
.navbar .navbar-nav .nav-item .dropdown-menu .nav-pills .nav-link:hover {
  color: #2145CF;
  background: none;
}
.navbar .navbar-nav .nav-item .dropdown-menu .tab-content {
  padding: 0;
}
.navbar .navbar-nav .nav-item .dropdown-menu .tab-content img {
  height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*======================================
ABOUT US SECTION
=======================================*/
.watermark .water-text {
  position: relative;
}
.watermark .water-text h2 {
  color: rgba(204, 204, 204, 0.18);
  font-size: 126px;
  font-weight: 700;
  padding: 25px 0;
  margin: 0;
  letter-spacing: 10px;
  text-align: center;
  position: relative;
  left: 0;
  right: 0;
}
.watermark .water-text h4 {
  text-align: center;
  font-size: 35px;
  position: absolute;
  font-weight: 600;
  bottom: 35px;
  margin: 0;
  left: 0;
  right: 0;
}

.about {
  position: relative;
}
.about .about-collapse {
  position: absolute;
  z-index: 777;
  left: 0;
  top: 70px;
  overflow: hidden;
}
.about .about-collapse .about-box {
  padding: 25px;
}
.about .about-collapse .about-box .about-content p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  margin-top: 10px;
}
.about .about-collapse .about-box .about-content .accordion .accordion-item {
  background: none;
  border: none;
}
.about .about-collapse .about-box .about-content .accordion .accordion-item .accordion-header button {
  background: transparent;
  border: none;
  display: flex;
}
.about .about-collapse .about-box .about-content .accordion .accordion-item .accordion-header button .button-collapse {
  background-color: rgba(202, 202, 202, 0.8);
  color: #fff;
  border: none;
  padding: 7px 25px;
  text-align: center;
  font-size: 17px;
  margin: 0 10px;
}
.about .about-collapse .about-box .about-content .accordion .accordion-item .accordion-header button .collapses {
  opacity: 0;
  visibility: hidden;
  display: none;
}
.about .about-collapse .about-box .about-content .accordion .accordion-item .accordion-header [aria-expanded=true] img {
  transform: rotate(180deg);
}
.about .about-collapse .about-box .about-content .accordion .accordion-item .accordion-header [aria-expanded=true] .collapses {
  opacity: 1;
  visibility: visible;
  display: block;
}
.about .about-collapse .about-box .about-content .accordion .accordion-item .accordion-header [aria-expanded=true] .expand {
  opacity: 0;
  display: none;
  visibility: hidden;
}
.about .about-collapse .about-box .about-content .accordion .accordion-body {
  padding: 0;
}

.curtain-design.about-background {
  background: url(../img/about-background.png) no-repeat center center/cover;
}

/*======================================
SERVICES SECTION
=======================================*/
.service-content .paragraph p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  padding: 50px 17px 30px 17px;
}
.service-content .paragraph p span {
  font-size: 18px;
  color: #E74076;
  font-weight: 600;
}

.service-carousel .carousel .carousel-indicators {
  position: inherit;
  right: 0;
  top: 0;
  width: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 0;
  margin-bottom: 1rem;
  margin-left: 0;
  list-style: none;
}
.service-carousel .carousel .carousel-indicators button {
  width: 100%;
  text-indent: 0;
  background: transparent;
  box-shadow: 0 8px 16px 0 rgba(33, 68, 207, 0.0352941176), 0 6px 20px 0 rgba(33, 68, 207, 0.0588235294);
  height: 207px;
  opacity: 1;
  margin: 10px;
}
.service-carousel .carousel .carousel-indicators button .creative-window {
  display: block;
}
.service-carousel .carousel .carousel-indicators .active {
  background: #fff;
}
.service-carousel .carousel .carousel-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  position: inherit;
}
.service-carousel .carousel .carousel-button .carousel-control-prev,
.service-carousel .carousel .carousel-button .carousel-control-next {
  position: inherit;
  opacity: 1;
  width: 30px;
}
.service-carousel .carousel .carousel-button .carousel-control-prev span,
.service-carousel .carousel .carousel-button .carousel-control-next span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(33, 69, 207);
  box-shadow: rgb(33, 69, 207);
}
.service-carousel .carousel .carousel-button .carousel-control-prev span img,
.service-carousel .carousel .carousel-button .carousel-control-next span img {
  opacity: 1;
  width: 15px;
  transform: translate(0, 2px);
  color: rgb(255, 255, 255);
}
.service-carousel .carousel .carousel-button .carousel-control-prev {
  left: -4%;
}
.service-carousel .carousel .carousel-button .carousel-control-next {
  right: -4%;
  top: 0;
}
.service-carousel .carousel-inner .carousel-item {
  padding: 25px 0;
}
.service-carousel .carousel-inner .carousel-item .carousel-box img {
  height: 100%;
}
.service-carousel .carousel-inner .carousel-item .carousel-box .features {
  height: 100%;
  background-color: #fff;
  padding: 25px 40px;
  box-shadow: 0 8px 16px 0 rgba(33, 68, 207, 0.0352941176), 0 6px 20px 0 rgba(33, 68, 207, 0.0588235294);
}
.service-carousel .carousel-inner .carousel-item .carousel-box .features .feature-img {
  background-color: rgba(33, 69, 207, 0.15);
  width: 80px;
  padding: 15px;
}
.service-carousel .carousel-inner .carousel-item .carousel-box .features h5 {
  color: rgb(231, 64, 118);
  font-weight: 600;
  line-height: 30px;
  margin: 15px 73px 15px 0px;
}
.service-carousel .carousel-inner .carousel-item .carousel-box .features p {
  font-weight: 500;
  line-height: 22px;
  font-size: 14px;
}

/*======================================
FOOTER SECTION
=======================================*/
.footer {
  background-color: #fff;
  padding-top: 50px;
  border-top: 7px solid #2145CF;
}
.footer .footer-content img {
  width: 30px;
  margin: 21px;
}
.footer .footer-content P {
  font-size: 12px;
}
.footer .hr-line {
  margin: 0;
}
.footer .footer-test p,
.footer .footer-test a {
  color: rgb(131, 131, 131);
  font-size: 12px;
}
.footer .footer-test img {
  filter: brightness(0);
}

.fixed-icon .whatsapp {
  position: fixed;
  right: 30px;
  z-index: 1000;
  bottom: 0;
}

/*======================================
HOME SECTION
=======================================*/
.top-carousel .carosel .carousel-control-prev,
.top-carousel .carosel .carousel-control-next {
  width: 50px;
  height: 100%;
  opacity: 1;
}
.top-carousel .carosel .carousel-control-prev span,
.top-carousel .carosel .carousel-control-next span {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: rgba(124, 124, 124, 0.25);
}
.top-carousel .carosel .carousel-control-prev span img,
.top-carousel .carosel .carousel-control-next span img {
  opacity: 1;
  width: 15px;
  transform: translate(0, 2px);
  color: rgb(255, 255, 255);
}
.top-carousel .carosel .carousel-indicators {
  height: 75px;
  left: 25%;
  right: 25%;
  transform: translate(0 50%);
}
.top-carousel .carosel .carousel-indicators .carousel-arrow {
  animation: up-down infinite 1.4s alternate backwards;
}
@keyframes up-down {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.top-carousel .carosel .carousel-indicators .carousel-btn {
  color: #fff;
  background-color: #CACACA;
  border-radius: 0;
  bottom: 0;
  padding: 1px 10px;
  box-shadow: 0 8px 16px 0 rgba(33, 68, 207, 0.0352941176), 0 6px 20px 0 rgba(33, 68, 207, 0.0588235294);
  border: solid #CACACA;
  transition: all 0.7s ease-out;
}
.top-carousel .carosel .carousel-indicators:hover .carousel-btn {
  transform: scale(1.1);
}
.top-carousel .carosel .carousel-indicators:hover .carousel-arrow {
  animation-play-state: paused;
}
.top-carousel .carosel button {
  position: absolute;
  cursor: pointer;
  z-index: 1;
}
.top-carousel .carosel .carousel-inner .carousel-item .carousel-caption {
  bottom: 25%;
}
.top-carousel .carosel .carousel-inner .carousel-item .carousel-caption p {
  font-size: 50px;
  letter-spacing: 1px;
  display: grid;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.37);
  justify-content: center;
  align-items: center;
}

.home-design {
  padding: 50px 0;
  transition: all 0.7s ease;
}
.home-design .home-text {
  display: block;
  justify-content: center;
  align-items: center;
}
.home-design .home-text p {
  line-height: 30px;
}

.curtain-design {
  padding: 50px 0;
}
.curtain-design .ricco-curtain {
  border: 1px solid gainsboro;
  position: relative;
  transition: all 0.4s ease;
}
.curtain-design .ricco-curtain .bg-color {
  transition: all 0.7s ease;
  width: 100px;
  height: 100px;
  background-color: #2145CF;
  position: absolute;
  text-align: center;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  opacity: 0;
  visibility: hidden;
}
.curtain-design .ricco-curtain .text-ricco {
  padding: 0 50px 15px 35px;
  transition: all 0.4s ease;
}
.curtain-design .ricco-curtain .text-ricco .text1 {
  color: #6D6D6D;
  font-size: 21px;
}
.curtain-design .ricco-curtain .text-ricco h4 {
  color: #2145CF;
  font-size: 22px;
}
.curtain-design .ricco-curtain .text-ricco .text2 {
  font-size: 13px;
}
.curtain-design .ricco-curtain:hover {
  color: #fff;
}
.curtain-design .ricco-curtain:hover .bg-color {
  opacity: 1;
  visibility: visible;
  scale: 1;
  width: 100%;
  height: 100%;
  background-color: #2145CF;
}
.curtain-design .ricco-curtain:hover .img {
  filter: brightness(10);
  transition: all 0.4s ease;
  transform: translate(5px, 0);
}
.curtain-design .ricco-curtain:hover .text1,
.curtain-design .ricco-curtain:hover text2,
.curtain-design .ricco-curtain:hover h4 {
  color: #fff;
  transform: translate(0, 5px);
}

.counter {
  margin: 50px 0;
  padding: 100px 0;
  background: url(../img/counter.png) no-repeat top center/cover;
}
.counter .count-box {
  background-color: rgba(240, 240, 240, 0.7);
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px 0;
  border-radius: 25px;
}
.counter .count-box .num {
  color: #2145CF;
  font-size: 37px;
  font-weight: 700;
}
.counter .count-box .text {
  font-weight: 600;
  letter-spacing: 1px;
}

.window .window-text {
  font-weight: 600;
  line-height: 30px;
}

.creative-window {
  text-align: center;
  padding: 5px;
}
.creative-window h1 {
  color: rgb(231, 64, 118);
  font-size: 20px;
  font-weight: 900;
  line-height: 28px;
  padding-bottom: 15px;
}
.creative-window p {
  font-weight: 500;
  padding-top: 20px;
  font-size: 15px;
  line-height: 23px;
}

.feature-product {
  padding: 50px 0;
}
.feature-product h4 {
  font-weight: 600;
  font-size: 27px;
  color: #2145CF;
  text-align: left;
}
.feature-product p {
  font-weight: 500;
  line-height: 30px;
}
.feature-product .carousel .carousel-inner .feature-content .btn-home {
  width: 160px;
}
.feature-product .carousel .carousel-inner .img-shadow {
  position: relative;
}
.feature-product .carousel .carousel-inner .img-shadow .feature-img {
  height: 400px;
  width: 85%;
  box-shadow: 70px 40px rgb(225, 240, 255);
}
.feature-product .carousel .carousel-control-prev {
  text-align: center;
  position: inherit;
  background-color: rgb(124, 122, 120);
  color: #fff;
  opacity: 1;
  border: 1px solid rgb(124, 122, 120);
  padding: 7px;
  z-index: 777;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-product .carousel .carousel-control-next {
  text-align: center;
  position: inherit;
  background-color: rgb(231, 64, 118);
  color: #fff;
  opacity: 1;
  border: 1px solid rgb(231, 64, 118);
  padding: 7px;
  z-index: 777;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brands .owl-slider .owl-carousel .item {
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(33, 68, 207, 0.0352941176), 0 6px 20px 0 rgba(33, 68, 207, 0.0352941176);
}
.brands .owl-slider .owl-nav button {
  display: none;
}
.brands .owl-slider .owl-dots {
  text-align: center;
  padding: 50px 0;
  opacity: 1;
}
.brands .owl-slider .owl-dots button.owl-dot {
  width: 25px;
  opacity: 1;
  height: 7px;
  border-radius: 8px;
  display: inline-block;
  background: rgba(42, 42, 42, 0.18);
  margin: 0 3px;
}
.brands .owl-slider .owl-dots button.owl-dot.active {
  background-color: #2145CF;
  width: 40px;
}
.brands .owl-slider .owl-dots button.owl-dot:focus {
  outline: none;
}
.brands .owl-slider .owl-dots span {
  font-size: 70px;
  position: relative;
  top: -5px;
}

.reviews {
  margin-top: 70px;
  background: url(../img/review-background1.png) no-repeat center center/cover;
  position: relative;
  padding: 100px 0;
}
.reviews .carousel .carousel-indicators {
  text-align: center;
  padding: 0;
  opacity: 1;
}
.reviews .carousel .carousel-indicators button {
  width: 25px;
  opacity: 1;
  height: 7px;
  border-radius: 7px;
  background: rgba(42, 42, 42, 0.18);
  margin: 0 3px;
  border: 0;
}
.reviews .carousel .carousel-indicators button.active {
  background-color: #2145CF;
  width: 40px;
}
.reviews .carousel .carousel-indicators span {
  font-size: 70px;
  position: relative;
  top: -5px;
}
.reviews .carousel-inner .star-review {
  padding: 25px 70px;
  background: url(../img/review-owl.png) no-repeat center/cover;
}
.reviews .carousel-inner .star-review .tricia {
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviews .carousel-inner .star-review .tricia .tricia-name h1 {
  text-align: center;
  font-size: 25px;
  line-height: 33px;
  margin: 25px;
}
.reviews .carousel-inner .star-review .tricia .btn-home {
  width: 190px;
  box-shadow: 0 8px 16px 0 rgba(33, 68, 207, 0.0352941176), 0 6px 20px 0 rgba(33, 68, 207, 0.0588235294);
}
.reviews .carousel-inner .star-review p {
  font-weight: 500;
  line-height: 27px;
  font-size: 14px;
  padding: 25px 0;
}
.reviews .carousel-inner .star {
  position: absolute;
}
.reviews .carousel-control-prev {
  margin: auto;
  left: -5%;
}
.reviews .carousel-control-next {
  margin: auto;
  right: -5%;
}
.reviews .star {
  background: url(../img/star-shadow.png) no-repeat center center/cover;
  width: 100%;
  padding: 75px 15px;
}
.reviews .star p {
  font-size: 50px;
  font-weight: 500;
  margin: 0;
}
.reviews .star .fa-star:before {
  font-size: 37px;
}
.reviews .star h4 {
  font-size: 27px;
  line-height: 35px;
  font-weight: 300;
  padding: 20px 0;
}

/*======================================
PRODUCT SECTION
=======================================*/
.daynight-curtain h1 {
  font-weight: 300;
  line-height: 58px;
  font-size: 50px;
}

.meet-our {
  margin: 70px 0;
}
.meet-our p {
  font-weight: 500;
  line-height: 30px;
}
.meet-our .carousel .carousel-inner .img-shadow {
  position: relative;
}
.meet-our .carousel .carousel-inner .img-shadow .feature-img {
  height: 400px;
  width: 85%;
  box-shadow: 70px 40px rgb(225, 240, 255);
}
.meet-our .carousel .carousel-control-prev {
  text-align: center;
  position: inherit;
  background-color: rgb(124, 122, 120);
  color: #fff;
  opacity: 1;
  border: 1px solid rgb(124, 122, 120);
  padding: 7px;
  z-index: 777;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.meet-our .carousel .carousel-control-next {
  text-align: center;
  position: inherit;
  background-color: rgb(231, 64, 118);
  color: #fff;
  opacity: 1;
  border: 1px solid rgb(231, 64, 118);
  padding: 7px;
  z-index: 777;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-curtain {
  margin: 70px 0;
}
.day-curtain .features {
  height: 100%;
  background-color: #fff;
  padding: 25px 40px;
  box-shadow: 0 8px 16px 0 rgba(33, 68, 207, 0.0352941176), 0 6px 20px 0 rgba(33, 68, 207, 0.0588235294);
}
.day-curtain .features .feature-img {
  background-color: rgba(33, 69, 207, 0.15);
  width: 80px;
  padding: 15px;
}
.day-curtain .features h5 {
  color: rgb(231, 64, 118);
  font-weight: 600;
  line-height: 30px;
  margin: 15px 0;
}
.day-curtain .features p {
  font-weight: 500;
  line-height: 25px;
}
.day-curtain .solar {
  height: 100%;
  background-color: #fff;
  padding: 25px 40px;
  text-align: center;
  box-shadow: 0 8px 16px 0 rgba(33, 68, 207, 0.0352941176), 0 6px 20px 0 rgba(33, 68, 207, 0.0588235294);
}
.day-curtain .solar .feature-img {
  background-color: rgba(33, 69, 207, 0.15);
  text-align: center;
  padding: 15px;
  margin: 0 60px;
}
.day-curtain .solar h5 {
  color: rgb(231, 64, 118);
  font-weight: 700;
  line-height: 25px;
  font-size: 18px;
  margin-top: 15px;
}
.day-curtain .test-primary p {
  padding: 15px 13%;
  font-weight: 500;
  line-height: 30px;
}
.day-curtain .roller-fabric {
  position: relative;
  width: 100%;
  height: 100%;
}
.day-curtain .roller-fabric .btn-roller {
  color: #fff;
  background-color: rgb(231, 64, 118);
  border-radius: 0;
  text-align: center;
  position: absolute;
  margin: 15px;
  bottom: 0;
  left: 0;
  border: none;
  width: 90%;
  padding: 7px;
}

.our-works .owl-carousel .owl-nav {
  position: absolute;
  top: 40%;
  translate: 0 -50%;
  width: 100%;
}
.our-works .owl-carousel .owl-nav [class*=owl-]:hover {
  background: none;
}
.our-works .owl-carousel .owl-nav button {
  position: absolute;
  cursor: pointer;
  z-index: 1;
}
.our-works .owl-carousel .owl-nav .owl-prev {
  left: 0;
}
.our-works .owl-carousel .owl-nav .owl-next {
  right: 0;
}

.get-in {
  position: relative;
  margin: 50px 0;
  padding: 0;
}
.get-in::before {
  content: "";
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  z-index: -1;
  height: calc(100% - 70px);
  width: 100%;
  background: url(../img/blue-background.webp) no-repeat center center/cover;
}
.get-in .get-text p {
  font-size: 27px;
  font-weight: 200;
  line-height: 37px;
  letter-spacing: 1px;
  padding: 25px 0;
}
.get-in .get-text .btn-home {
  width: 235px;
}
.get-in .get-text .btn-home .learn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  font-weight: 500;
}
.get-in .get-text .btn-home img {
  width: 25px;
}

/*======================================
SHOP SECTION
=======================================*/
.test-simple h1 {
  font-weight: 300;
  font-size: 50px;
  line-height: 58px;
  text-shadow: 0px 1px 2px rgb(73, 73, 73);
  letter-spacing: 1px;
}

.e-shop {
  margin-top: 50px;
}
.e-shop .product-accordion .accordion .accordion-item {
  border: none;
  background-color: rgb(250, 250, 250);
}
.e-shop .product-accordion .accordion .accordion-item .accordion-button {
  width: 170px;
  background: #2145CF;
  border-radius: 25px;
  box-shadow: none;
  color: #fff;
  padding: 10px;
  font-size: 14px;
  font-weight: 300;
  margin: 15px 0;
}
.e-shop .product-accordion .accordion .accordion-item .accordion-button::after {
  filter: brightness(10);
  width: 15px;
  height: 15px;
  background-size: contain;
}
.e-shop .product-accordion .accordion .accordion-item .accordion-body {
  padding: 5px 20px;
  color: #000;
}
.e-shop .product-accordion .accordion .accordion-item .accordion-body li {
  padding: 5px 0;
}
.e-shop .product-accordion .accordion .accordion-item .accordion-button:not(.collapsed)::after {
  filter: brightness(100);
}
.e-shop .item {
  overflow: hidden;
}
.e-shop .item .pro-img {
  transition: all ease 0.4s;
}
.e-shop .item .pro-img:hover {
  transform: scale(1.25);
}
.e-shop .item .item-content {
  color: #000;
  text-align: center;
}
.e-shop .item .item-content .img-eshop {
  width: 100%;
  overflow: hidden;
}
.e-shop .item .item-content p {
  font-weight: 500;
  letter-spacing: 0px;
  opacity: 1;
}

.bottom-pagination a {
  border: none;
  text-align: left;
  color: #4D4C4B;
  background: none;
  opacity: 1;
  padding: 0 5px;
}
.bottom-pagination a img {
  width: 15px;
  margin: 0 10px;
}
.bottom-pagination a:focus, .bottom-pagination a:active {
  box-shadow: none;
  color: #E74076;
  font-weight: 600;
}

/*======================================
SHOP INNER SECTION
=======================================*/
.shop-inner .bussiness-card .back-btn {
  display: flex;
  margin: 35px 0;
}
.shop-inner .bussiness-card .back-btn h4 {
  color: rgb(109, 109, 109);
  margin: 10px;
}
.shop-inner .bussiness-card .carousel {
  display: flex;
}
.shop-inner .bussiness-card .carousel .carousel-inner {
  width: 82%;
  overflow: hidden;
  margin-left: auto;
}
.shop-inner .bussiness-card .carousel .carousel-indicators {
  display: block;
  top: 0;
  margin: 0;
  width: 85%;
}
.shop-inner .bussiness-card .carousel .carousel-indicators img {
  display: block;
}
.shop-inner .bussiness-card .carousel .carousel-indicators button {
  height: 85px;
  width: 86px;
  display: block;
  background-color: #fff;
  top: 0;
  margin: 0;
  border-top: 0;
}
.shop-inner .bussiness-card .card-details .variation-btn {
  font-size: 14px;
  text-align: center;
  border: none;
  background: none;
  font-weight: 500;
  padding: 7px 40px;
  border-bottom: 1px solid silver;
  margin: 5px 0;
}
.shop-inner .bussiness-card .card-details .variation-btn:hover {
  color: #fff;
  background-color: #E74076;
  border-bottom: none;
}
.shop-inner .bussiness-card .card-details h6 {
  text-align: left;
  font-size: 18px;
  padding: 10px 0;
  letter-spacing: 0.5px;
  opacity: 1;
}
.shop-inner .bussiness-card .card-details .pagination .page-link {
  background: none;
  border: 1px solid silver;
  border-radius: 0;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  padding: 6px 17px;
}
.shop-inner .bussiness-card .card-details .btn-home {
  transition: all 0.3s ease-in-out;
}
.shop-inner .bussiness-card .card-details .btn-home .btn-text .learn {
  translate: 25px 0;
  transition: all 0.4s ease-in-out;
}
.shop-inner .bussiness-card .card-details .btn-home:hover {
  translate: 3px 0;
}
.shop-inner .bussiness-card .card-details h5 {
  text-align: left;
  font-size: 16px;
  padding: 20px 0;
  margin: 0;
  opacity: 1;
}
.shop-inner .bussiness-card .card-details p {
  text-align: left;
  font-size: 14px;
  padding: 10px 0;
  font-weight: 500;
  line-height: 24px;
  opacity: 1;
}
.shop-inner .project {
  margin-top: 70px;
  background: rgba(109, 109, 109, 0.3);
  padding: 40px 0 60px 0;
}
.shop-inner .project .item {
  overflow: hidden;
}
.shop-inner .project .item .pro-img,
.shop-inner .project .item .item-atribute {
  transition: all 0.4s ease;
}
.shop-inner .project .item .item-content {
  color: #000;
  text-align: center;
}
.shop-inner .project .item .item-content .img-eshop {
  width: 100%;
  overflow: hidden;
}
.shop-inner .project .item .item-content p {
  font-weight: 500;
  letter-spacing: 0px;
  opacity: 1;
}
.shop-inner .project .item:hover .pro-img {
  transform: scale(1.25);
}
.shop-inner .project .item:hover .item-atribute {
  transform: scale(1.011);
}

/*======================================
CONTACT US SECTION
=======================================*/
.contact-us {
  margin: 50px 0;
}
.contact-us .coffee h1 {
  font-size: 35px;
  letter-spacing: 1px;
}
.contact-us .coffee p {
  text-align: left;
  font-size: 16px;
  padding: 7px 0;
  font-weight: 400;
  line-height: 26px;
  opacity: 1;
}
.contact-us .coffee .img-shadow {
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.contact-us .coffee .img-shadow .feature-img {
  box-shadow: 20px 20px rgb(225, 240, 255);
}
.contact-us .our-details h1 {
  font-size: 35px;
  letter-spacing: 1px;
}
.contact-us .our-details .feature-img {
  background-color: rgba(33, 69, 207, 0.15);
  width: 35px;
  padding: 5px;
  align-items: center;
  border-radius: 5px;
}
.contact-us .our-details h3 {
  font-size: 22px;
  margin: 0;
}
.contact-us .our-details p {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 1;
}

.contact-form {
  background: url(../img/form-background.jpg) no-repeat center right/cover;
  color: #fff;
  padding: 60px 0;
}
.contact-form .coffee h1 {
  font-size: 35px;
  letter-spacing: 1px;
}
.contact-form .coffee p {
  text-align: left;
  font-size: 16px;
  padding: 7px 0;
  font-weight: 400;
  line-height: 26px;
  opacity: 1;
}
.contact-form .variation-btn {
  font-size: 14px;
  color: #fff;
  border: none;
  background: none;
  text-align: left;
  padding-bottom: 10px;
  font-weight: 300;
  border-bottom: 1px solid silver;
  margin: 5px 0;
  width: 100%;
}
.contact-form .variation-btn span {
  float: right;
  margin: auto;
}
.contact-form .btn-home {
  transition: all 0.3s ease-in-out;
}
.contact-form .btn-home .btn-text {
  padding: 5px 15px;
}
.contact-form .btn-home .btn-text .learn {
  translate: 35px 0;
  transition: all 0.4s ease-in-out;
}
.contact-form .btn-home:hover {
  translate: 3px 0;
}
.contact-form .message {
  padding-bottom: 70px;
}

.map {
  margin-bottom: -7px;
}

/*======================================
TESTIMONAILS SECTION
=======================================*/
.testimonial .btn-testimonial {
  color: #fff;
  background-color: #2145CF;
  border: 1px solid #2145CF;
  border-radius: 25px;
  width: 150px;
  height: 45px;
  font-weight: 100;
  box-shadow: 0 8px 16px 0 rgba(33, 68, 207, 0.0352941176), 0 6px 20px 0 rgba(33, 68, 207, 0.0588235294);
}
.testimonial .btn-testimonial .btn-text {
  padding: 5px 10px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  vertical-align: middle;
}
.testimonial .feature-img {
  box-shadow: 20px 20px rgb(225, 240, 255);
}

/*======================================
 RESPONSIVE DESIGN
=======================================*/
/*------------------------ screen 991 ------------------------*/
@media (max-width: 991px) {
  .day-curtain .features h5 {
    line-height: 30px;
  }
  .navbar .navbar-nav .nav-item:hover .dot {
    display: none;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    position: absolute;
    background: #fff;
    min-width: 250px;
    top: 0;
    z-index: 999;
    left: 0;
    overflow-y: scroll;
    height: 100vh;
  }
  .get-in .get-text h1 {
    font-size: 30px;
  }
  .get-in .get-text p {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1px;
    padding: 0;
  }
  .curtain-design {
    padding: 20px 0;
  }
  .e-shop .product-accordion .accordion .accordion-item .accordion-button {
    width: 100%;
  }
}
/*------------------------ screen 767 ------------------------*/
@media (max-width: 767px) {
  .navbar .navbar-nav .nav-item .dropdown-menu {
    width: 250px;
    border-radius: 0;
  }
  .navbar .navbar-nav .nav-item .dropdown-menu .nav-pills .nav-link {
    padding: 4px 0px 4px 12px;
  }
  .reviews .carousel-inner .star-review p {
    padding: 0;
  }
  .reviews .carousel-control-prev {
    left: -4%;
  }
  .reviews .carousel-control-next {
    right: -4%;
  }
  .footer-test {
    text-align: center;
    padding: 10px;
  }
  .daynight-curtain .test-primary {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/*------------------------ screen 576 ------------------------*/
@media (max-width: 576px) {
  .test-primary h1 {
    font-size: 30px;
  }
  .brands {
    display: none;
  }
  .counter {
    padding: 50px 0;
  }
}
/*------------------------ screen 425 ------------------------*/
@media (max-width: 425px) {
  .carousel-indicators {
    display: none;
  }
  .curtain-design {
    padding: 0;
  }
  .reviews {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1180px;
  }
}/*# sourceMappingURL=style.css.map */